body{
    background-color: rgb(38, 132, 135);
}
h1{
    font-size:100px;
    margin-top: 1mm;
    padding-left: 200px;
}
h3{
   padding-left: 200px; 
   
}
p{

    padding-left: 200px;
}
img{
    padding-left: 200px;
}